<html>
    <head>
        <title>Izpis</title>
    </head>
    <body style="background-color:white">
    <center>
    <center>
        <div class="w3-modal">
            <div class="w3-container w3-black">
              <h2> IZPIS POHODOV </h2>
            </div>
            <div class="w3-container">
        <form action="/izpisi_pohod/vsi_pohodi" method="POST">
            <input type="submit" value="IzpiŠi vse pohode">
        </form>
    </center>
    </center>
    </body>
</html>