<html>
    <head>
        <title>Izpis</title>
    </head>
    <body style="background-color:white;">
    <center>
    <center>
        <div class="w3-modal">
            <div class="w3-container w3-black">
              <h2> IZPIS TEKAŠKIH VADB </h2>
            </div>
            <div class="w3-container">
        <form action="/izpisi_tek/vsi_tek" method="POST">
            <input type="submit" value="Izpiši vse tekaške vadbe">
        </form>
    </center>
    </center>
    </body>
</html>