<html>
    <head>
        <title>Vadbeni merilec</title>
    </head>
    <body>
    <center>
        <h1>VADBENI MERILEC</h1>
        <form action="/nov_tek/" method="POST">
            <input type="submit" value="Dodaj tekaško vadbo">
        </form>
        <form action="/nov_pohod/" method="POST">
            <input type="submit" value="Dodaj pohod">
        </form>
        <form action="/izpisi_tek/" method="POST">
            <input type="submit" value="Izpiši tekaške vadbe">
        </form>
        <form action="/izpisi_pohod/" method="POST">
            <input type="submit" value="Izpiši pohode">
        </form>
        <form action="/izpis_vadbe/" method="POST">
            <input type="submit" value="Izpiši vadbe">
        </form>
    </center>
    </body>
</html>