<html>
    <head>
        <title>Dodaj_tek</title>
    </head>
    <body>
    <center>
    <h2> VNOS TEKAŠKE VADBE </h2>
        <form action="/nov_tek/dodaj" method="POST">
            ime: <input type="text" name="ime"> <br>
            cas: <input type="text" name="cas"> <br>
            razdalja: <input type="text" name="razdalja"> <br>
            mesec: <input type="text" name="mesec"> <br>
            <input type="submit" value="dodaj">
        </form>
    </center>
    </body>
</html>