<html>
    <head>
        <title>dodaj_pohod</title>
    </head>
    <body>
    <center>
    <h2> VNOS POHODA </h2>
        <form action="/nov_pohod/dodaj" method="POST"> 
            ime: <input type="text" name="ime"> <br>
            cas: <input type="text" name="čas"> <br>
            visina: <input type="text" name="višina"> <br>
            mesec: <input type="text" name="mesec"> <br>
            <input type="submit" value="dodaj">
        </form>
    </center>
    </body>
</html>