<html>
    <head>
        <title>Dodaj_pohod</title>
    </head>
    <body style="background-color:white;">
    <center>
      <div class="w3-modal">
        <div class="w3-container w3-black">
          <h2> VNOS POHODA </h2>
        </div>
        <div class="w3-container">
          <form action="/nov_pohod" method="POST">
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Ime" required name="Ime"></p>
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Čas" required name="Čas"></p>
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Višina" required name="Višina"></p>
            <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Datum in ura" required name="Datum in ura" value="2020-23-7T20:00"</p>
            <p><input type="submit" value="dodaj"></p>
        </form>
      </div>
    </center>
    </body>
</html>